.pointer{
    cursor: pointer;
}
.bold{
    font-weight: bolder;
}
.break_line{
    margin: 0 1vw;
    font-weight: bolder;
}
.right{
    float: right;
}

/* 로고 */
.logo{
    width: 40px;
}

/* header */
.header{
    background-image: url("");
}

