@font-face {
  src : url("../font/NanumSquareRoundR.ttf");
  font-family: "NanumR"
}

html{
  width: 100%;
  overflow-x: hidden;
}
body{
  font-family: "NanumR";
}
.content{
    padding: 2vw 20vw;
    font-size: 0.7vw;
}