/* 필터 */
.filters{
    padding-bottom: 2vh;
    display: block;
}
.filter{
    border-bottom: 0.01rem solid lightgray;
    padding: 1vh;
}
.filter > .form-check{
    font-size: 0.7rem;
    min-height: 0.8rem;
}
.sector{
    padding-bottom: 0.5vh;
    display: block;
}

/* 리스트 */
.row{
    width: 95%;
    margin: 0 auto;
    padding-top: 4vh;
    text-align: left;
}
.form-select{
    display: inline-block;
    width: 30%;
}
.input-group{
    margin-top: 1vh;
}
.recommended{
    margin-top: 2vh;
    overflow-y: scroll;
    max-height: 60vh;
    padding-right: 2vw;
}
.more{
    float: right;
}
.recommended > ul > li{
    padding: 2vh;
}
.recommended > ul > li > .name{
    color: #d25726;
    font-weight: bold;
}
.recommended > ul > li > .badge{
    float: right;
    margin-right: 0.1rem;
    font-size: 0.7rem;
    font-weight: normal;
}
.recommended > ul > li > .intro{
    margin-top: 1vh;
    display: block;
}

@media all and (min-width:768px) and (max-width:1023px) {

}

@media all and (min-width:480px) and (max-width:767px) {

}

@media all and (max-width:479px) {
    .content{
        padding: 6vw !important;
    }
}