#header{
    font-size: 1.2em;
    text-align: left;
}
#header > img{
    width: 1.5vw;
    min-width: 20px;
    display: inline-block;
}
#header > span{
    font-weight: bold;
    color: #965ca5;
}

.content > .row{
    width: 95%;
    margin: 0 auto;
    padding-top: 8vh;
}
.content > .col-5{
    text-align: left;
}

.greetings{
    float: left;
}
.greetings > span{
    font-size: 1.5rem;
}
.greetings > span:first-child{
    margin-left: 0.5rem;
    font-size: 1.2rem;
}
.greetings > img{
    width: 16vw;
    margin-top: 2rem;
    transform: scaleX(-1);
}
.programs{
    text-align: left;
}
.input-group{
    margin-top: 2vh;
}
.recommended{
    margin-top: 3rem;
}
.more{
    float: right;
}

@media all and (min-width:768px) and (max-width:1023px) {

}

@media all and (min-width:480px) and (max-width:767px) {

}

@media all and (max-width:479px) {
    .content{
        padding: 6vw !important;
    }
}