body{
    font-family: "NanumR";
    background-color: #f29c20;
}
/* 로고 */
#header{
    font-size: 1.2em;
    text-align: left;
    background-image: url("");
}
#header > img{
    width: 1.5vw;
    min-width: 20px;
    display: inline-block;
}
#header > span{
    font-weight: bold;
    color: #965ca5;
}
/* 로그인 창 */
.content{
    background-color: white;
    font-size: 1vw;
    padding: 2vw !important;
    min-width: 300px;
    width: 30vw;
    margin: 20vh auto;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px #d25726;
    text-align: center;
}