.row{
    width: 95%;
    margin: 0 auto;
    padding-top: 8vh;
}
.greetings{
    float: left;
}
.greetings > span{
    font-size: 1.5rem;
}
.greetings > span:first-child{
    margin-left: 0.5rem;
    font-size: 1.2rem;
}
.greetings > img{
    width: 26vw;
    margin-top: 2rem;
    transform: scaleX(-1);
}
.programs{
    text-align: left;
}
.input-group{
    margin-top: 2vh;
}
.recommended{
    margin-top: 3rem;
}
.more{
    float: right;
}
.recommended > ul{
    margin-top: 3vh;
}
.recommended > ul > li{
    padding: 2vh;
}
.recommended > ul > li > .name{
    color: #d25726;
    font-weight: bold;
}
.recommended > ul > li > .badge{
    float: right;
    margin-right: 0.1rem;
    font-size: 0.7rem;
    font-weight: normal;
}
.recommended > ul > li > .intro{
    margin-top: 1vh;
    display: block;
}

@media all and (min-width:768px) and (max-width:1023px) {

}

@media all and (min-width:480px) and (max-width:767px) {

}

@media all and (max-width:479px) {
    .content{
        padding: 6vw !important;
    }
}