.content{
    text-align: left;
    padding-bottom: 2vh !important;
}
.row{
    width: 80%;
    margin: 2vh auto 5vh auto;
}
.row > .col{
    padding: 0 2vw;
}
form{
    margin-top: 5vh;
}
form > span, form > button, form > input {
    display: block;
    width: 100%;
    margin: 0.3vw 0;
}
form > input{
    border: 0;
    border-bottom: 1px solid #e78324;
    line-height: 2rem;
}
.btn{
    text-align: left !important;
    display: block;
    margin-top: 1vh;
    width: 100%;
    line-height: 3vh;
}
.icon{
    height: 2vh;
    margin-right: 0.5vw;
}
.login{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2vw;
}
.submit_btn{
    color: white;
    margin-top: 1.5vw;
    margin-bottom: 2vw;
    background-color: #e78324;
    text-align: center !important;
}
.warning{
    color: red;
    text-align: left;
    display: block;
    margin-bottom: 3vh;
}
.col > img{
    margin: 5vh 0;
}
.help{
    margin: 2.5vw 0 0 2vw;
}
#signup{
    margin-left: 1vw;
    color: #e78324;
}
