.row{
    width: 95%;
    margin: 0 auto;
    padding-top: 6vh;
    text-align: left;
    font-size: 1rem;
}
.row > .left-col{
    text-align: center;
    border-right: 0.1rem dotted lightgray;
    padding: 2vw;
}
.row > .middle-col{
    padding-left: 1vw;
    border-right: 0.1rem dotted lightgray;
}
.row > .right-col{

}


/* left-col */
.profile{
    width: 6vw;
}
.name{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 8rem;
}
.static{
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    display: inline-block;
}
.static_content{
    text-align: left;
    width: 8vw;
}
.static_value{
    width: 4vw;
}


/* middle-col */
.row > .middle-col{
    overflow: auto;
    font-size: 0.8rem;
}
.row > .middle-col > div > .status, .edu_name, .edu_content_name{
    display: block;
}
.edu{
    padding: 1vw;
    border-bottom: 0.1rem dotted lightgray;
    border-radius: 10px;
}
.status{
    color: #d25726;
    display: inline-block;
    margin-bottom: 1vh;
}
.edu_name{
    /*font-style: italic;*/
}
.edu_content_name{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5vh;
}
.start-date{
    margin-right: 2vw;
}
.class{
    margin-right: 1vw;
}


/* right-col */
.right-col{
    padding: 1.5vw;
}
.right-col > div {
    font-weight: bold;
}


@media all and (min-width:768px) and (max-width:1023px) {

}

@media all and (min-width:480px) and (max-width:767px) {

}

@media all and (max-width:479px) {
    .content{
        padding: 6vw !important;
    }
}