<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/edu.css}">
        <script th:src="@{js/edu.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <div class="header">
            <img class="pointer logo left" onclick="func_move('/')" th:src="@{image/toco-orange.png}">
            <span class="pointer tab right" onclick="func_move('mypage')">MYPAGE</span>
            <span class="pointer tab right" onclick="func_move('edu')">EDU</span>
            <span class="pointer tab right" onclick="func_move('logout')">LOGOUT</span>
            <span class="pointer tab right" onclick="func_move('login')">LOGIN</span>
            <span class="pointer tab right" onclick="func_move('signup')">SIGNUP</span>
            <span class="pointer tab right" onclick="func_move('info')">INFO</span>
        </div>

        <div class="row">
            <div class="col-3">
                <div>
                    <span class="bold filters">Filters</span>
                    <div class="filter">
                        <span class="sector">수강기간</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="periodRadio" id="period1" value="10" checked onchange="func_list()">
                            <label class="form-check-label" for="period1">
                                10일 미만
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="periodRadio" id="period2" value="20" onchange="func_list()">
                            <label class="form-check-label" for="period2">
                                10일 이상 - 20일 미만
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="periodRadio" id="period3" value="30" onchange="func_list()">
                            <label class="form-check-label" for="period3">
                                20일 이상 - 30일 미만
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="periodRadio" id="period4" value="40" onchange="func_list()">
                            <label class="form-check-label" for="period4">
                                30일 이상
                            </label>
                        </div>
                    </div>
                    <div class="filter">
                        <span class="sector">평점</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="starRadio" id="star5" value="5" checked onchange="func_list()">
                            <label class="form-check-label" for="star5">
                                ★★★★★
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="starRadio" id="star4" value="4" onchange="func_list()">
                            <label class="form-check-label" for="star4">
                                ★★★★
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="starRadio" id="star3" value="3" onchange="func_list()">
                            <label class="form-check-label" for="star3">
                                ★★★
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="starRadio" id="star2" value="2" onchange="func_list()">
                            <label class="form-check-label" for="star2">
                                ★★
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="starRadio" id="star1" value="1" onchange="func_list()">
                            <label class="form-check-label" for="star1">
                                ★
                            </label>
                        </div>
                    </div>
                    <div class="filter">
                        <span class="sector">난이도</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="levelRadio" id="basic" value="Basic" checked onchange="func_list()">
                            <label class="form-check-label" for="basic">
                                Basic
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="levelRadio" id="challenge" value="Challenge" onchange="func_list()">
                            <label class="form-check-label" for="challenge">
                                Challenge
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="levelRadio" id="export" value="Expert" onchange="func_list()">
                            <label class="form-check-label" for="export">
                                Expert
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <select class="form-select form-select-sm" name="main" aria-label=".form-select-sm example" onchange="func_sub();func_list();">
                    <option value="all" selected>메인 카테고리 전체</option>
                    <th:block th:each="type:${mainTypeList}">
                        <option th:value="${type}" th:text="${type}"></option>
                    </th:block>
                </select>
                <select class="form-select form-select-sm" name="sub" aria-label=".form-select-sm example" onchange="func_list()">
                    <option value="all" selected>세부 카테고리 전체</option>
                </select>
                <div class="programs">
                    <div class="recommended"></div>
                </div>
            </div>
        </div>
    </div>

</html>