<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/eduDetail.css}">
        <script th:src="@{js/eduDetail.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <div class="header">
            <img class="pointer logo left" onclick="func_move('/')" th:src="@{image/toco-orange.png}">

            <span class="pointer tab right" sec:authorize="isAuthenticated()" onclick="func_move('mypage')">MYPAGE</span>
            <span class="pointer tab right" sec:authorize="isAnonymous()" onclick="func_move('edu')">EDU</span>
            <span class="pointer tab right" sec:authorize="isAuthenticated()" onclick="func_move('logout')">LOGOUT</span>
            <span class="pointer tab right" sec:authorize="isAnonymous()" onclick="func_move('login')">LOGIN</span>
            <span class="pointer tab right" onclick="func_move('signup')">SIGNUP</span>
            <span class="pointer tab right" onclick="func_move('info')">INFO</span>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="program">
                    <span class="name" th:text="${dto.getName()}"></span>
                    <span class="badge bg-secondary" th:text="|${dto.getScore()}점|"></span>
                    <span class="badge bg-secondary" th:text="|${dto.getPeriod()}주|">16주</span>
                    <span class="badge bg-secondary" th:text="${dto.getLevel().getName()}"></span>
                    <br>
                    <p class="intro"  th:text="${dto.getIntro()}"></p>
                    <div class="sector">Contents</div>
                    <div class="contains" th:each="content:${contents}">
                        <span class="bold" th:text="|Chapter ${content.getChapter()}. ${content.getName()}|"></span><br>
                        <span th:text="${content.getIntro()}"></span><br>
                        <!--<span th:text="${content.getDetails()}"></span>-->
                    </div>
                </div>
            </div>

            <div class="col-4">
                <span class="bold form">수업 시작하기</span>
                <form id="form" th:action="@{edu/apply}" th:method="post" th:object="${registerForm}" sec:authorize="isAuthenticated()">
                    <label for="email" class="col-form-label">이메일</label>
                    <input type="email" class="form-control-plaintext" id="email" th:name="email" th:value="${email}" readonly />
                    <label for="date" class="col-form-label">수강 시작일</label>
                    <input type="date" class="form-control-plaintext" id="date" th:field="*{date}" />
                    <label class="col-form-label">메일 수신일</label>
                    <div>
                        <span class="days" value="SUNDAY">S</span>
                        <span class="days" value="MONDAY">M</span>
                        <span class="days" value="TUESDAY">T</span>
                        <span class="days" value="WEDNESDAY">W</span>
                        <span class="days" value="THURSDAY">T</span>
                        <span class="days" value="FRIDAY">F</span>
                        <span class="days" value="SATURDAY">S</span>
                    </div>
                    <input type="hidden" class="form-control-plaintext" th:field="*{days}" />
                    <input type="hidden" class="form-control-plaintext" th:name="education_uuid" th:value="${uuid}" />
                    <button type="button" id="submit_btn" class="btn submit_btn">수업 신청하기</button>
                </form>
                <span class="warning" id="warning"></span>

                <div sec:authorize="isAnonymous()">
                    수업을 신청하려면 먼저
                    <span id="signup" class="bold pointer sign" onclick="func_move(this.id)">회원가입</span> 또는
                    <span id="login" class="bold pointer sign" onclick="func_move(this.id)">로그인</span>
                    을 해주세요.
                </div>
            </div>
        </div>

    </div>

</html>