<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/eduDetail.css}">
        <script th:src="@{js/eduDetail.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <div class="header">
            <img class="pointer logo left" onclick="func_move('/')" th:src="@{image/toco-orange.png}">

            <span class="pointer tab right" onclick="func_move('mypage')">MYPAGE</span>
            <span class="pointer tab right" onclick="func_move('edu')">EDU</span>
            <span class="pointer tab right" onclick="func_move('logout')">LOGOUT</span>
            <span class="pointer tab right" onclick="func_move('login')">LOGIN</span>
            <span class="pointer tab right" onclick="func_move('signup')">SIGNUP</span>
            <span class="pointer tab right" onclick="func_move('info')">INFO</span>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="program">
                    <span class="name" th:text="${dto.getName()}"></span>
                    <span class="badge bg-secondary" th:text="|${dto.getScore()}점|"></span>
                    <span class="badge bg-secondary" th:text="|${dto.getPeriod()}주|">16주</span>
                    <span class="badge bg-secondary" th:text="${dto.getLevel().getName()}"></span>
                    <br>
                    <p class="intro"  th:text="${dto.getIntro()}"></p>
                    <div class="sector">Contents</div>
                    <div class="contains" th:each="content:${contents}">
                        <span class="bold" th:text="|Chapter ${content.getChapter()}. ${content.getName()}|"></span><br>
                        <span th:text="${content.getIntro()}"></span><br>
                        <!--<span th:text="${content.getDetails()}"></span>-->
                    </div>
                </div>
            </div>

            <div class="col-4">
                <span class="bold form">수업시작하기</span>
                <form>
                    <label for="email" class="col-form-label">이메일</label>
                    <input type="email" class="form-control-plaintext" id="email" readonly placeholder="email@example.com" />
                    <label for="date" class="col-form-label">수강 시작일</label>
                    <input type="date" class="form-control-plaintext" id="date" />
                    <label class="col-form-label">메일 수신일</label>
                    <div>
                        <div class="days" id="sun">S</div>
                        <div class="days" id="mon">M</div>
                        <div class="days" id="tue">T</div>
                        <div class="days" id="wed">W</div>
                        <div class="days" id="thu">T</div>
                        <div class="days" id="fri">F</div>
                        <div class="days" id="sat">S</div>
                    </div>
                    <button type="button" id="submit_btn" class="btn submit_btn">toco 시작하기</button>
                </form>

            </div>
        </div>

    </div>

</html>