<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/index.css}">
        <script th:src="@{js/index.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <div layout:fragment="header" class="header">
            <img th:src="@{image/toco.png}" class="logo">

            <span class="pointer right">MYPAGE</span>
            <span class="pointer right" onclick="func_move('login')">LOGIN</span>

            <div id="greetings">
                <span>다시 만나서 반가워요 :)</span><br>
                <span class="bold">Hello Rose!</span>
            </div>
            <img id="header-background" th:src="@{image/header-background.png}">
        </div>
        <div>
            <select>
                <option>aaaaaaaaaaaaaaaaa</option>
                <option>aaaaaaaaaaaaaaaaa</option>
                <option>aaaaaaaaaaaaaaaaa</option>
                <option>aaaaaaaaaaaaaaaaa</option>
            </select>
            <button>REGISTER</button>
            <div>
                <span>details</span>
                <img src=""/>
            </div>
        </div>
    </div>

</html>