<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/index.css}">
        <script th:src="@{js/index.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <div class="header">
            <img class="pointer logo left" onclick="func_move('/')" th:src="@{image/toco-orange.png}">

            <span class="pointer tab right" onclick="func_move('mypage')">MYPAGE</span>
            <span class="pointer tab right" onclick="func_move('edu')">EDU</span>
            <span class="pointer tab right" onclick="func_move('logout')">LOGOUT</span>
            <span class="pointer tab right" onclick="func_move('login')">LOGIN</span>
            <span class="pointer tab right" onclick="func_move('signup')">SIGNUP</span>
            <span class="pointer tab right" onclick="func_move('info')">INFO</span>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="greetings">
                    <span>다시 만나서 반가워요, </span>
                    <span class="bold">Rosie :)</span>
                    <img th:src="@{image/illust/build-up.svg}">
                </div>
            </div>
            <div class="col-7">
                <div class="programs">
                    <span class="section">toco 바로 시작하기</span>
                    <br>
                    <div class="input-group">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option value="" selected>프로그램 선택</option>
                            <th:block th:each="edu:${eduList}">
                                <option th:value="${edu.getUuid()}" th:text="${edu.getName()}"></option>
                            </th:block>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary submit_btn" type="button">신청하기</button>
                        </div>
                    </div>
                    <div class="recommended">
                        <div>
                            <span class="section">요즘 인기있는 프로그램</span>
                            <span class="pointer more" onclick="func_move('edu')">+ more</span>
                        </div>
                        <ul class="list-group list-group-flush" th:each="edu:${topList}">
                            <li class="list-group-item pointer eduDetail" th:id="${edu.getUuid()}">
                                <span class="name" th:text="${edu.getName()}"></span>
                                <span class="badge bg-secondary" th:text="|${edu.getScore()}점|"></span>
                                <span class="badge bg-secondary" th:text="|${edu.getPeriod()}일|"></span>
                                <span class="badge bg-secondary" th:text="${edu.getLevel().getName()}"></span>
                                <br>
                                <span class="intro" th:text="${edu.getIntro()}"></span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>

</html>