<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/index.css}">
        <script th:src="@{js/index.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <div class="header">
            <img class="logo left" th:src="@{image/toco-orange.png}">

            <span class="pointer right">MYPAGE</span>
            <span class="pointer right" onclick="func_move('login')">LOGIN</span>
        </div>
        <div id="greetings">
            <span>다시 만나서 반가워요 :)</span><br>
            <span class="bold">Hello Rose!</span>
            <img id="header-background" th:src="@{image/header-background.png}">
        </div>
        <div id="programs">
            <span>프로그램 선택</span>
            <br>
            <select>
                <option>aaaaaaaaaaaaaaaaa</option>
                <option>aaaaaaaaaaaaaaaaa</option>
                <option>aaaaaaaaaaaaaaaaa</option>
                <option>aaaaaaaaaaaaaaaaa</option>
            </select>
            <button>REGISTER</button>
            <div>
                <span class="pointer right">details</span>
                <hr/>
                <img src=""/>
            </div>
        </div>
    </div>

</html>