<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/info.css}">
        <script th:src="@{js/info.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <div class="header">
            <img class="pointer logo left" onclick="func_move('/')" th:src="@{image/toco-orange.png}">

            <span class="pointer tab right" onclick="func_move('mypage')">MYPAGE</span>
            <span class="pointer tab right" onclick="func_move('edu')">EDU</span>
            <span class="pointer tab right" onclick="func_move('logout')">LOGOUT</span>
            <span class="pointer tab right" onclick="func_move('login')">LOGIN</span>
            <span class="pointer tab right" onclick="func_move('signup')">SIGNUP</span>
            <span class="pointer tab right" onclick="func_move('info')">INFO</span>
        </div>

        <div class="introduce">
            <h4 class="bold">toco? 투코? 무슨 서비스인가요?</h4>
            <p>안녕하세요! 개발자로 성장하고 싶거나 개발을 배우고 싶어하는 분들을 위한 새로운 서비스 'toco'를 소개합니다. toco는 'Today Coding'의 약어로 매일매일 오늘해야 할 코딩학습 내용을 이메일로 보내주는 교육 서비스입니다.</p>
            <p>toco는 computer science, 프론트엔드, 백엔드, 데브옵스 등 다양한 언어와 기술에 대한 학습 컨텐츠를 제공합니다. 여러분은 원하는 교육을 선택하고 신청할 수 있어요.</p>
            <p>toco 서비스는 매일 아침 7시에 메일링으로 학습할 내용을 보내드립니다. 신청 내용과 메일링 주기에 따라서 여러분이 원하는 학습 속도와 방식으로 쉽게 개발 실력을 향상시킬 수 있습니다.</p>
            <p>우리의 목표는 개발자 커뮤니티를 지원하고, 개발자들의 학습 경험을 개선하는 것입니다. toco를 통해 동료 개발자와의 네트워킹 기회를 만들고, 지속적인 학습과 발전을 도울 수 있습니다.</p>
            <p>toco는 개발자로서의 꿈을 이루기 위한 학습 파트너입니다. 더 나은 개발 실력을 갖추고 싶은 분들을 위해 최고의 서비스를 제공하고자 합니다. 함께 성장하는 즐거움을 느껴보세요!</p>
            <img th:src="@{image/illust/community.svg}">
        </div>
    </div>

</html>