<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/login.css}">
        <script th:src="@{js/login.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <div id="header" onclick="func_move('/')">
            <img th:src="@{image/toco-orange.png}" class="pointer logo">
        </div>
        <form id="form" th:action="@{/login}" th:method="post">
            <span class="login bold" onclick="func_move('/login')">Login</span>
            <input type="email" id="email" name="email" placeholder="example@google.com"/>
            <input type="password" id="password" name="password" placeholder="********"/>
            <button type="button" id="login_btn" class="btn login_button">Login</button>
            <span>소셜 로그인하기</span>
            <span class="warning"></span>
            <button type="button" class="btn btn-primary">
                <img class="icon" th:src="@{image/icon/google.png}" />
                Sign in With Google
            </button>
            <button type="button" class="btn btn-warning">
                <img class="icon" th:src="@{image/icon/kakao-talk.png}" />
                Sign in With KakaoTalk
            </button>
            <span class="help">회원이 아니신가요?
                <span id="signup" class="bold pointer" onclick="func_move('signup')">회원가입하기</span>
            </span>
        </form>
    </div>

</html>