<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/mypage.css}">
        <script th:src="@{js/mypage.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <div class="header">
            <img class="pointer logo left" onclick="func_move('/')" th:src="@{image/toco-orange.png}">

            <span class="pointer tab right" sec:authorize="isAuthenticated()" onclick="func_move('mypage')">MYPAGE</span>
            <span class="pointer tab right" sec:authorize="isAnonymous()" onclick="func_move('edu')">EDU</span>
            <span class="pointer tab right" sec:authorize="isAuthenticated()" onclick="func_move('logout')">LOGOUT</span>
            <span class="pointer tab right" sec:authorize="isAnonymous()" onclick="func_move('login')">LOGIN</span>
            <span class="pointer tab right" onclick="func_move('signup')">SIGNUP</span>
            <span class="pointer tab right" onclick="func_move('info')">INFO</span>
        </div>

        <div class="row">
            <div class="left-col col-3">
                <img th:src="@{${'/image/profile/'+profile}}" class="profile"/>
                <div>
                    <span class="name" th:text="${name}"></span>
                    <br>
                    <span class="static static_content">시작하지 않은 과정</span>
                    <span class="static static_value" th:text="${notStartCnt}"></span>
                    <br>
                    <span class="static static_content">수강중인 과정</span>
                    <span class="static static_value" th:text="${progressCnt}"></span>
                    <br>
                    <span class="static static_content">완료한 과정</span>
                    <span class="static static_value" th:text="${finishedCnt}"></span>
                    <br>
                    <span class="static static_content">수강 중지한 과정</span>
                    <span class="static static_value" th:text="${stoppedCnt}"></span>
                </div>
            </div>

            <div class="middle-col col-6">
                <div th:each="dto:${progressDtoList}" th:id="${dto.getUuid()}" class="edu">
                    <span class="status" th:text="${dto.getStatus().getName()}"></span>
                    <span class="edu_name" th:text="${dto.getEducationName()}"></span>
                    <span class="edu_content_name" th:text="${dto.getEducationContentName()}"></span>
                    <span class="class">수강시작일</span><span class="start-date" th:text="${dto.startDate}"></span>
                    <span class="class">수강시작일</span><span class="mailing-days" th:text="${dto.mailingDays}"></span>
                </div>
            </div>

            <div class="right-col col-3">
                <div>Recommended</div>
                <span>이런 강의들은 어떠신가요?</span>
            </div>
        </div>

    </div>

</html>