<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/myPage.css}">
        <script th:src="@{js/myPage.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <div class="header">
            <img class="pointer logo left" onclick="func_move('/')" th:src="@{image/toco-orange.png}">

            <span class="pointer tab right" sec:authorize="isAuthenticated()" onclick="func_move('mypage')">MYPAGE</span>
            <span class="pointer tab right" sec:authorize="isAnonymous()" onclick="func_move('edu')">EDU</span>
            <span class="pointer tab right" sec:authorize="isAuthenticated()" onclick="func_move('logout')">LOGOUT</span>
            <span class="pointer tab right" sec:authorize="isAnonymous()" onclick="func_move('login')">LOGIN</span>
            <span class="pointer tab right" onclick="func_move('signup')">SIGNUP</span>
            <span class="pointer tab right" onclick="func_move('info')">INFO</span>
        </div>

        <div class="row">
            <div class="col-8">
            </div>

            <div class="col-4">
                <span class="bold form">수업 시작하기</span>

                <span class="warning" id="warning"></span>

                <div sec:authorize="isAnonymous()">
                    수업을 신청하려면 먼저
                    <span id="signup" class="bold pointer sign" onclick="func_move(this.id)">회원가입</span> 또는
                    <span id="login" class="bold pointer sign" onclick="func_move(this.id)">로그인</span>
                    을 해주세요.
                </div>
            </div>
        </div>

    </div>

</html>