<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <head>
        <link rel="stylesheet" th:href="@{css/login.css}">
        <script th:src="@{js/signup.js}"></script>
    </head>

    <div layout:fragment="content" class="content">
        <img th:src="@{image/toco-orange.png}" onclick="func_move('/')" class="pointer logo">
        <div class="row">
            <span class="login bold" onclick="func_move('/login')">SignUp</span>
            <div class="col">
                <form id="form" th:action="@{/signup}" th:method="post" th:object="${form}">
                    <input type="text" th:field="*{name}" placeholder="이름"/>
                    <input type="email" th:field="*{email}" placeholder="example@google.com"/>
                    <input type="password" th:field="*{password}" placeholder="············"/>
                    <button type="button" id="submit_btn" class="btn submit_btn">SignUp</button>
                </form>
                <span class="warning"></span>
                <span>소셜로 가입하기</span>
                <br>
                <button type="button" class="btn btn-primary">
                    <img class="icon" th:src="@{image/icon/google.png}" />
                    Sign in With Google
                </button>
                <button type="button" class="btn btn-warning">
                    <img class="icon" th:src="@{image/icon/kakao-talk.png}" />
                    Sign in With KakaoTalk
                </button>
            </div>
            <div class="col">
                <span class="help right">회원이신가요?
                    <span id="signup" class="bold pointer" onclick="func_move('login')">로그인하기</span>
                </span>
                <img th:src="@{image/illust/welcome.svg}">
            </div>
        </div>
    </div>

</html>